@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Abhaya+Libre:wght@500&display=swap');

body {
    margin: 0;
    height: 100vh;
    background: #BADEDC;

    display: flex;
    justify-content: center; /* توسيط أفقي */
    align-items: center;     /* توسيط عمودي */
}

/* glow */
.glow{
  position:absolute;
  width:420px;
  height:420px;
  border-radius:9999px;
  filter: blur(100px);
  background: radial-gradient(circle, rgba(255,255,255,0.40) 0%, white 100%);
}
.glow-left{ left:150px; bottom:-80px; }
.glow-right{ right:-120px; top:-160px; width:520px; height:520px; }

/* card */
.card {
    width: 400px;
    height: 420px;   /* نخليه مربع */
    background: #F6F6F6;
    border-radius: 40px;
    padding: 60px 50px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;
    justify-content: center; /* يوسّط العناصر داخل الكارد */
}

/* form */
.form{ display:flex; flex-direction:column; gap:18px; }


.field{
  border:1.5px solid #6b6b6b;
  border-radius:12px;
  padding:14px 18px 16px;
}

.field legend{
  font-family: Inter, sans-serif;
  font-size:14px;
  padding:0 8px;
  margin-left:10px;
}

.field input{
  width:100%;
  border:none;
  outline:none;
  font-size:16px;
  background:transparent;
  padding:6px 0 0;
}

/* password input */
input {
    width: 100%;
    height: 55px;
    border-radius: 15px;
    border: 2px solid #6A6A6A;
    padding-left: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

.input::placeholder{ color:#666; }

/* forgot + create : نفس الفيقما تقريبًا */
.forgot{
  font-family:"Abhaya Libre", serif;
  font-weight:500;
  font-size:14px;
  color:#000;
  text-decoration:none;
  margin-top:-6px;
  margin-left:4px;   /* يسار شوي */
}

/* button */
.btn{
  width:335px;
  height:65px;
  border:none;
  border-radius:65px;
 background: #2B8F8A;   /* لون موحد غامق */
  color: #000;  
  font-family:"Abhaya Libre", serif;
  font-weight:600;
  font-size:32px;
  cursor:pointer;
  box-shadow: 9px 10px 15px rgba(0,0,0,0.25);
  align-self:center;
  margin-top:10px;
}


.create{
  font-family:"Abhaya Libre", serif;
  font-weight:500;
  font-size:14px;
  color:#000;
  text-align:center;
  margin-top:6px;
}

.create span{
  font-weight:600;
}